        body {
            background-image: url(/images/about-background_opacity.jpg);
        }
        
        h1 {
            background-color: rgba(255, 255, 255, 0.9);
            text-align: center;
        }
        
        h2 {
            font-size: 1.5em;
        }
        
        h3 {
            font-weight: 900;
        }
        
        .aboutContent,
        .aboutStaff {
            background-color: rgba(255, 255, 255, 0.7);
            text-align: center;
            padding: 10px 0px;
            margin: 50px 0px;
        }
        /* About us */
        
        .aboutInfo {
            width: 320px;
            margin: 0px auto;
        }
        
        .aboutContent p {
            font-size: 0.9em;
        }
        
        .aboutContent img {
            width: 150px;
            padding: 20px;
        }
        /* Staff */
        
        .aboutStaff {
            margin-bottom: 100px;
        }
        
        .aboutStaff img {
            border-radius: 50%;
            width: 130px;
            margin-top: 30px;
        }
        
        .aboutStaff h3,
        .aboutStaff p {
            margin: 5px 0px;
        }
        /*Media Queries*/
        
        @media all and (min-width: 400px) {
            /* About us */
            .aboutInfo {
                width: 360px;
            }
        }
        
        @media all and (min-width: 500px) {
            h1 {
                padding: 20px 0px;
                margin: 50px 0px;
            }
            /* About us */
            .aboutInfo {
                width: 420px;
            }
        }
        
        @media all and (min-width: 600px) {
            h2 {
                font-size: 2em;
            }
            /* About us */
            .aboutInfo {
                width: 520px;
            }
            .aboutContent p {
                font-size: 1em;
            }
        }
        
        @media all and (min-width: 800px) {
            body {
                background-image: url(/images/background-pattern-resized.jpg);
            }
            h1 {
                background-color: rgba(255, 255, 255, 0);
            }
            .aboutContent,
            .aboutStaff {
                background-color: rgba(255, 255, 255, 0);
                width: 750px;
                margin: 100px auto;
            }
        }
        
        @media all and (min-width: 1200px) {
            .contentWrap {
                display: flex;
                max-width: 1300px;
                margin: 0px auto;
            }
            /*About us*/
            .aboutContent {
                width: 500px;
                margin: 75px auto;
            }
            .aboutContent h2 {
                margin-bottom: 60px;
            }
            .aboutContent p {
                font-size: 1.1em;
            }
            /*Staff*/
            .aboutStaff {
                width: 300px;
                margin: 75px auto;
            }
            .aboutStaff img {
                width: 100px;
                margin-top: 30px;
            }
        }