body {
    background-image: url(/images/about-background_opacity.jpg);
}

main {
    background-color: rgba(255, 255, 255, 0.6);
}

h1 {
    font-size: 1.6em;
    text-align: center;
}

.info p {
    text-align: center;
    color: #2F4159;
}

.contactContainer {
    max-width: 400px;
    margin: 100px auto;
}


/*Form*/

form {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

form label {
    font-size: 0.8em;
    color: #2F4159;
    display: block;
    margin: 0px 0px 5px;
}

input,
textarea {
    font-family: "fira-sans-compressed-2", sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    border: 1px solid #2F4159;
    border-radius: 10px;
    margin: 0px 0px 5px;
    padding: 10px;
    width: 200px;
}

textarea {
    height: 90px;
}

input:focus,
textarea:focus {
    border: 2px solid #2f4159;
}

#firstNameError,
#surNameError,
#emailError,
#messageError {
    display: none;
    color: rgb(172, 23, 23);
    font-size: 0.8em;
    font-weight: bolder;
    width: 216px;
    padding: 0px;
    margin: -5px 0px 10px;
}

#required {
    font-size: 0.6em;
    color: #2F4159;
    opacity: 0.5;
    display: block;
    margin: 0px;
}

.globalButton {
    display: flex;
    justify-content: right;
    width: 216px;
}

.globalButton button {
    padding: 10px 20px;
}


/*Validation*/

.cardWrap {
    position: fixed;
    background-color: #ffffff;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.cardWrap h1 {
    font-size: 2em;
    letter-spacing: 0pt;
    text-shadow: none;
    text-align: center;
    padding-left: 5px;
    margin: 20px;
}

.cardWrap p {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.successCard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.fa-check {
    display: flex;
    font-size: 2.5em;
    color: #288f28;
    justify-content: center;
}

.exploreBtn {
    display: flex;
    justify-content: center;
    margin: 40px 0px 20px;
}

.exploreBtn a {
    background-color: #2f4159;
    padding: 8px 30px;
    border-color: 1px solid #2f4159;
    border-radius: 5px;
    font-family: "Prohibition";
    font-size: 1.2em;
    letter-spacing: 1pt;
}

.exploreBtn a:hover {
    background-color: #3098BF;
    border: 1px solid #3098BF;
}


/*Media Queries*/

@media all and (min-width: 600px) {
    body {
        background-image: url(/images/Contact-background_op.jpg);
        background-position: center;
    }
    main {
        background-color: rgba(255, 255, 255, 0.1);
    }
    .contactContainer {
        max-width: 500px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 10px;
        margin: 50px auto;
    }
    h1 {
        font-size: 2em;
        max-width: 400px;
        margin: 20px auto;
    }
    .info p {
        font-size: 1.3em;
    }
    form {
        padding: 30px 0px;
        width: 400px;
        margin: 10px auto;
    }
    form label {
        font-size: 0.9em;
    }
    input,
    textarea {
        margin: 0px 10px 20px 0px;
        width: 250px;
    }
    textarea {
        height: 100px;
    }
    #firstNameError,
    #surNameError,
    #emailError,
    #messageError {
        margin-top: -15px;
        width: 200px;
    }
    #required {
        font-size: 0.8em;
    }
    .globalButton {
        width: 265px;
    }
    /*Validation*/
    .successCard {
        width: 450px;
    }
    .cardWrap p {
        font-size: 1.1em;
    }
}

@media all and (min-width: 800px) {
    .contactContainer {
        max-width: 700px;
    }
}