/*Global styling*/

body {
    font-family: "fira-sans-condensed-2", sans-serif;
    font-weight: 800;
    font-style: normal;
    background-image: url(/images/background-pattern-resized.jpg);
    background-size: cover;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0px;
}

.logo {
    font-family: "ropa-soft-pro", sans-serif;
    font-weight: 500;
    font-size: 2em;
    text-transform: uppercase;
}

header {
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 10000;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 10px;
}

h1,
h2 {
    font-family: "prohibition", "ropa-soft-pro", "fira-sans-compressed", Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3pt;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    font-size: 2.5em;
    text-transform: uppercase;
    color: #2F4159;
}

header,
footer {
    background-color: #2F4159;
    color: #fff;
}

footer {
    text-align: center;
    padding: 10px;
    z-index: 1000;
}


/*Links*/

a {
    text-decoration: none;
    color: #fff;
}

nav {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 42px;
    left: 0px;
    right: 0px;
    background-color: #2F4159;
}

nav ul {
    padding: 10px;
    margin: 0px;
    text-align: center;
}

nav li {
    display: inline-flex;
    padding: 10px 5px;
}

nav li:hover {
    text-decoration: underline;
}

.active {
    background-color: rgba(173, 216, 230, 0.377);
}


/*Hamburger menu*/

.fa-bars {
    cursor: pointer;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked~nav {
    display: block;
}


/*Button*/

.globalButton {
    width: 110px;
    margin: 0px auto;
}

.globalButton a,
.globalButton button {
    font-family: "Prohibition";
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 2pt;
    border: 1px solid #2f4159;
    border-radius: 10px;
    background-color: #2f4159;
    color: #fff;
    padding: 12px 20px;
    cursor: pointer;
}

.globalButton a:hover,
.globalButton button:hover {
    background-color: #3098BF;
    border: 1px solid #3098BF;
}


/*Media queries*/

@media all and (min-width: 400px) {
    header {
        justify-content: space-around;
    }
    nav li {
        padding: 10px 10px;
    }
}

@media all and (min-width: 600px) {
    nav {
        text-align: center;
    }
    nav li {
        padding: 10px 30px;
    }
}

@media all and (min-width: 800px) {
    #hamburger-menu,
    .fa-bars {
        display: none;
    }
    header {
        justify-content: flex-end;
        padding: 0px;
    }
    .logo {
        margin-right: auto;
        padding-left: 5px;
    }
    nav {
        display: inline-block;
        position: static;
    }
    nav li {
        display: inline-block;
    }
    .active {
        background-color: rgba(173, 216, 230, 0.377);
        padding: 22px 18px 21px;
    }
}