/*Home page*/

.headerTop {
    background-image: url(/images/Home-background-resized.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    height: 250px;
    position: relative;
}

.headerTop img {
    display: none;
}


/*Info*/

.info {
    text-align: center;
    max-width: 800px;
    padding: 10px 20px 40px;
}

.info p {
    font-size: 1.1em;
    max-width: 300px;
    margin: 0px auto;
}


/*Jackets*/

.featuredJackets {
    display: flex;
    max-width: 350px;
    overflow-x: scroll;
    margin: 60px auto 50px;
}

.jackets img {
    width: 190px;
    border: 1px solid #2f4159;
    margin-right: 20px;
}


/*Button*/

.bottom a {
    display: none;
}


/*Reviews*/

.reviews {
    margin: 150px 0px 100px;
}

.reviews h2 {
    text-align: center;
}

.reviewSection {
    display: flex;
    flex-direction: column;
}

.reviewContent {
    text-align: center;
    width: 250px;
    margin: 0px auto 40px;
}

.reviewContent img {
    border-radius: 50px;
    width: 100px;
}

.reviewContent p {
    font-size: 0.9em;
    padding-bottom: 0px;
}

.names {
    padding: 10px;
    font-weight: bolder;
}


/*Media queries*/

@media all and (min-width: 400px) {
    .headerTop {
        height: 300px;
    }
    /*Jackets*/
    .featuredJackets {
        max-width: 390px;
    }
}

@media all and (min-width: 600px) {
    .headerTop {
        height: 350px;
    }
    .headerTop img {
        display: flex;
        position: absolute;
        width: 35%;
        top: 25%;
        left: 9%;
    }
    /*Info*/
    h1 {
        font-size: 3em;
    }
    .info {
        margin: 50px auto 20px;
    }
    .info p {
        max-width: 500px;
    }
    /*Jackets*/
    .featuredJackets {
        max-width: 530px;
    }
    /* Reviews */
    .reviewSection {
        margin-top: 50px;
    }
}

@media all and (min-width: 800px) {
    .headerTop {
        background-position-x: left;
        background-position-y: top;
        height: 500px;
    }
    /*Info*/
    .info {
        margin-top: 100px;
    }
    .info p {
        font-size: 1.3em;
        max-width: 700px;
    }
    /*Jackets*/
    .featuredJackets {
        max-width: 770px;
        margin: 0px auto 50px;
    }
    .jackets img {
        width: 230px;
    }
    /*Button*/
    .top {
        display: none;
    }
    .bottom a {
        display: initial;
        font-size: 1.5em;
        padding: 12px 30px;
    }
    .bottom {
        width: 160px;
        margin: 100px auto;
    }
    /*Reviews*/
    .reviews {
        margin: 200px auto;
    }
    .reviewSection {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .reviewContent {
        margin: 50px 20px;
    }
}

@media all and (min-width: 1000px) {
    .headerTop {
        height: 550px;
    }
    /*Jackets*/
    .featuredJackets {
        max-width: 900px;
    }
}

@media all and (min-width: 1200px) {
    /*Jackets*/
    .featuredJackets {
        max-width: 1150px;
    }
    /*Reviews*/
    .reviewContent {
        margin: 50px;
    }
}