/*Global styling*/

body {
    font-family: "fira-sans-condensed-2", sans-serif;
    font-weight: 800;
    font-style: normal;
    background-image: url(/images/background-pattern-resized.jpg);
    background-size: cover;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0px;
}

.logo {
    font-family: "ropa-soft-pro", sans-serif;
    font-weight: 500;
    font-size: 2em;
    text-transform: uppercase;
}

header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 10px;
}

h1,
h2 {
    font-family: "ropa-soft-pro", "prohibition", "fira-sans-compressed", "ropa-soft-pro", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.9em;
    text-transform: uppercase;
    color: #2F4159;
}

header,
footer {
    background-color: #2F4159;
    color: #fff;
}

footer {
    text-align: center;
    padding: 10px;
}


/*Links*/

a {
    text-decoration: none;
    color: #fff;
}

header a {
    color: #FFF;
}

nav {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 42px;
    left: 0px;
    right: 0px;
    background-color: #2F4159;
}

nav ul {
    padding: 10px;
    margin: 0px;
    text-align: center;
}

nav li {
    display: inline-flex;
    padding: 10px 5px;
}

.active {
    background-color: rgba(173, 216, 230, 0.377);
}


/*Hamburger menu*/

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked~nav {
    display: block;
}


/*Home page*/

.headertop {
    background-image: url(/images/Home-background-resized.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    min-height: 50vh;
    border-bottom: 5px solid #2F4159;
    position: relative;
}

.headertop_content img {
    display: none;
}

.info {
    max-width: 800px;
    padding: 10px 20px 40px;
    text-align: center;
    border-bottom: 2px dotted #2F4159;
}

.info p {
    font-size: 1.1em;
    max-width: 300px;
    margin: auto;
}

.reviews {
    text-align: center;
}

.reviews_content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.reviews_images {
    border-radius: 50px;
    width: 200px;
    margin: 20px;
}

.reviews_content p {
    max-width: 40%;
    margin: auto;
    padding: 10px;
}

.review_section {
    padding-bottom: 40px;
}

.names {
    font-size: 1.2em;
    padding: 10px;
}


/*Media queries*/

@media all and (min-width: 400px) {
    header {
        justify-content: space-around;
    }
    nav li {
        padding: 10px 10px;
    }
    .reviews {
        padding-top: 20px;
    }
}

@media all and (min-width: 600px) {
    nav {
        text-align: center;
    }
    nav li {
        padding: 10px 30px;
    }
    .headertop_content img {
        display: flex;
        position: absolute;
        width: 35%;
        top: 25%;
        left: 9%;
    }
    .info {
        padding: 0px 0px 50px;
        margin: 50px auto;
    }
    .info h1 {
        font-size: 3em;
    }
    .info p {
        max-width: 500px;
    }
}

@media all and (min-width: 800px) {
    #hamburger-menu,
    .fa-bars {
        display: none;
    }
    header {
        justify-content: flex-end;
        padding: 0px;
    }
    .logo {
        margin-right: auto;
        padding-left: 5px;
    }
    nav {
        display: inline-block;
        position: static;
    }
    nav li {
        display: inline-block;
    }
    .active {
        background-color: rgba(173, 216, 230, 0.377);
        padding: 22px 18px;
    }
    .headertop {
        background-position-x: left;
        background-position-y: top;
        min-height: 80vh;
        border-bottom: 10px solid #2F4159;
    }
    .headertop_content img {
        position: absolute;
        width: 35%;
        top: 25%;
        left: 9%;
    }
    .info {
        padding: 50px 0px;
        margin: 50px auto;
        border-bottom: none;
    }
    .info p {
        font-size: 1.4em;
        padding: 0px 30px;
        max-width: 800px;
    }
    .reviews h2 {
        display: none;
    }
    .reviews_content {
        grid-template-columns: repeat(3, 1fr);
    }
    .reviews_images {
        width: 50%;
        max-width: 250px;
    }
    .reviews_content p {
        max-width: 60%;
    }
    .review_section {
        margin-bottom: 50px;
    }
}